body {
  margin: 0;
  padding: 0;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
}
.main {
  font-size: 10pt;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  border-bottom: 1px solid DarkSlateGrey;
}
.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
.movies {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
.movies tr,
.movies th,
.movies td {
  transition: background-color 250ms;
}
.movies tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.08);
}
.movies tr:nth-child(even):hover {
  background-color: rgba(0, 0, 0, 0.16);
}
.movies tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}
.movies tr:nth-child(odd):hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.movies thead {
  background-color: wheat;
}
.movies th,
.movies td {
  padding: 6px 12px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.movies th:hover,
.movies td:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.movies .hilite {
  background-color: rgba(255, 255, 0, 0.5);
}
.movies .hilite:hover {
    background-color: yellow;
}
.warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
